*margin{
  margin:0;
  padding:0;
}
$color-primary:#f9ed69;// yellow color
$color-secondary:#f08a5d;// Orange color
$color-tertiary:#b83b5e;// pink color
nav{
  margin:30px;
  background-color: $color-primary;
}

.navigation{
  list-style:none;
  // we can nest li inside .navigation selector instead of writting another selector like .navigation li
  li{
    padding:10px;
    display:inline-block;
    // & is used if we want to use the same selector twice usually with some pseudo selector, so that we dont need to write the selector twice,
    // we can just use & and put the psuedo selector inside the selector just like this
    // Compare it with previous commit you'll see the difference
    &:after{
      content:'-';
    }

    &:last-child:after{
      content:'';
    }
  }

}
